- content_for(:title) do
  = @group.name
- content_for(:description) do
  = @group.description
- content_for(:image) do
  = @group.logo.url

-# inject all enterprises as "enterprises"
-# it could be more efficient to inject only the enterprises that are related to the group
= inject_enterprises

-# inject enterprises in this group
-# further hubs and producers of these enterprises can't be resolved within this small subset
= inject_group_enterprises

#group-page.row.pad-top.footer-pad{"ng-controller" => "GroupPageCtrl"}
  - unless @hide_header
    .small-12.columns.pad-top
      %header
        .row
          .small-12.columns
            - if @group.promo_image.present?
              %img{"src" => @group.promo_image}
        .row
          .small-12.columns.group-header.pad-top
            - if @group.logo.present?
              %img.group-logo{"src" => @group.logo}
            - else
              %img.group-logo{"src" => '/assets/noimage/group.png'}
            %h2.group-name= @group.name
            %p= @group.description

  .small-12.columns.pad-top
    .row
      .small-12.medium-12.large-9.columns
        %div{"ng-controller" => "TabsCtrl"}
          - if @sole_tab
            = render_group_tab @sole_tab
          - else
            %tabset
              %tab{heading: t(:label_map),
                  active: "active(\'\')",
                  select: "select(\'\')"}
                = render 'tab_map'

              %tab{heading: t(:groups_about),
                  active: "active(\'about\')",
                  select: "select(\'about\')"}
                = render 'tab_about'

              %tab{heading: t(:groups_producers),
                  active: "active(\'producers\')",
                  select: "select(\'producers\')"}
                = render 'tab_producers'

              %tab{heading: t(:groups_hubs),
                  active: "active(\'hubs\')",
                  select: "select(\'hubs\')"}
                = render 'tab_hubs'

      .small-12.medium-12.large-3.columns
        = render partial: 'contact'

  .small-12.columns.pad-top
    .row.pad-top
      .small-12.columns.text-center.small
        %hr
        %p.text-small
          = "Copyright #{Date.current.year} #{@group.name}"
        %h2
          =link_to_service "https://www.facebook.com/", @group.facebook, title: t(:groups_contact_facebook) do
            %i.ofn-i_044-facebook
          =link_to_service "", @group.email.reverse, title: t(:groups_contact_email), mailto: true do
            %i.ofn-i_050-mail-circle
          =link_to_service "http://", @group.website, title: t(:groups_contact_website) do
            %i.ofn-i_049-web
        %p
          &nbsp;
